@tailwind base;
@tailwind components;
@tailwind utilities;
.font-primary{
  font-family: 'Cormorant Garamond', serif;
}
.font-helvetica{
  font-family: Helvetica, sans-serif;
}
.button{
  @apply px-4 py-2 text-white bg-[#908161]
}
.input{
  @apply mb-2 rounded border-2 border-[#908161] p-2
}
.color-primary{
  color: #908161
}
.bg-primary{
  @apply bg-[#908161]
}
.border-primary{
  @apply border-[#908161]
}
.text-primary{
  @apply text-[#908161]
}
.td-default{
  @apply px-6 py-4
}
.td-edited{
  @apply px-6 py-4 font-medium cursor-pointer text-primary hover:underline
}
.calendar-item{
  @apply px-4 py-2 font-semibold text-white shadow cursor-pointer bg-primary rounded-3xl
}
/* SPINNER LOADER*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*SPINNER LOADER*/
